<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title data-i18n="title"></title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <!-- I18N -->
                <li class="nav-item dropdown my-auto mx-sm-0 mx-lg-auto">
                    <a class="nav-link dropdown-toggle switch-locale" data-locale="ukr" href="#" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="ukr-flag mr-1"></span><span data-i18n="ukrLocale"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link dropdown-item switch-locale" data-locale="eng" href="#">
                            <span class="eng-flag mr-1"></span><span data-i18n="engLocale"></span>
                        </a>
                        <a class="nav-link dropdown-item switch-locale" data-locale="rus" href="#">
                            <span class="rus-flag mr-1"></span><span data-i18n="rusLocale"></span>
                        </a>
                    </div>
                </li>
                <!--  -->
            </ul>
        </div>
    </nav>


    <!-- load js after the main content is loaded -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/jquery.i18n/jquery.i18n.js"></script>
    <script src="js/jquery.i18n/jquery.i18n.messagestore.js"></script>
    <script src="js/jquery.i18n/jquery.i18n.fallbacks.js"></script>
    <script src="js/jquery.i18n/jquery.i18n.language.js"></script>
    <script src="js/jquery.i18n/jquery.i18n.parser.js"></script>
    <script src="js/jquery.i18n/jquery.i18n.emitter.js"></script>
    <script src="js/jquery.i18n/jquery.i18n.emitter.bidi.js"></script>
    <script src="js/i18n.js"></script>
    <script>

        function swap(e) {
            var selected = $(this).html();
            var selectedlocale = $(this).data('locale');
            var replace = $('.dropdown-toggle').html();
            var replacelocale = $('.dropdown-toggle').data('locale');

            $('.dropdown-toggle').html(selected);
            $(this).html(replace);
            $('.dropdown-toggle').data('locale', selectedlocale);
            $(this).data('locale', replacelocale);
        }

        $(document).ready(() => {
            $('.dropdown-menu').on('click', 'a', swap);
        });
    </script>


    <script src="js/bootstrap.js"></script>

</body>

</html>